# SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'e7b67f8230cfe31644729da967e0a8e6'
API_SECRET = 'ogMqd0BgesX8X8ZTrBgZgSgnBAlejuFk '
